[submodule "themes/stellar"]
	path = themes/stellar
	url = https://github.com/xaoxuu/hexo-theme-stellar.git
[submodule "source/_posts"]
	path = source/_posts
	url = https://richfan:dbd9d9f5947dfab6b13c64b2b9dae527@gitee.com/richfan/posts.git
[submodule "source/img"]
	path = source/img
	url = https://richfan:dbd9d9f5947dfab6b13c64b2b9dae527@gitee.com/richfan/img.git
